/* ---------------------------------------------------------------------- */
/* Notifications
/* ---------------------------------------------------------------------- */

#notifications {
    height: calc(100% - 56px);

    .eq-ui-list {
        border: 0;
        display: block;
    }

    .notifications_footer {
        border-top: 1px solid #e1e1e1;
        height: 56px;
        padding: 10px 24px;

        p {
            text-align: center;
            padding: 0;

            a {
                font-size: 14px;
                color: #757575;

                &:hover {
                    background-color: transparent;
                }

                &.disabled {
                    box-shadow: none;
                    opacity: .5;
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------- */
/* Notifications Item
/* ---------------------------------------------------------------------- */

#notifications_main {

    .notifications_item {

        .eq-ui-list-body {
            font-size: 12px;

            .eq-ui-list-title {
                white-space: normal;
                font-size: 14px;
                line-height: 1.4;

                strong {
                    font-weight: 600;
                }

                a {
                    color: rgba(0, 0, 0, 0.87);
                    text-decoration: underline;
                }
            }
        }

        .eq-ui-list-secondary-content-body {
            top: 9px;

            i {
                font-size: 16px;
            }
        }

        &.notifications_item_unread {
            background-color: rgba(27, 188, 155, 0.05);
        }
    }
}

