/* ---------------------------------------------------------------------- */
/* Notifications main
/* ---------------------------------------------------------------------- */

body.tp_notifications_main {

    #__blaze-root {
        background-color: #f1f1f1;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

#notifications_main {
    background-color: #fff;
    height: 100%;
    margin: 0 auto;

    .notifications-wrapper {
        height: calc(100% - 56px);

        #eq-ui-tab-notify-1,
        #eq-ui-tab-notify-2,
        #eq-ui-tab-notify-3 {
            height: 100%;
        }

        .eq-ui-btn-fab-action {
            position: absolute;
            right: 16px;
            bottom: 16px;
        }

        .eq-ui-modal.eq-ui-modal-bottom-sheet {
            margin: 0 auto;
        }
    }

    .eq-mt-card-tabs {
        box-shadow: none;
        background-color: transparent;
        border-bottom: 1px solid #e1e1e1;
        height: 56px;

        .eq-ui-card-supporting-text {
            padding: 0;
            height: 100%;

            .eq-ui-tabs {


                .eq-ui-indicator {
                    background-color: transparent;
                }

                .eq-ui-tab {
                    text-transform: none;
                    letter-spacing: 0;

                    a {
                        padding-top: 6px;
                        color: #757575;

                        .eq-ui-badge {

                            &[data-badge]:after {
                                top: -8px;
                            }
                        }

                        &:not(:hover):not(.active) {
                            .eq-ui-badge {

                                &[data-badge]:after {
                                    background-color: #757575;
                                }
                            }
                        }

                        &:hover, &.active {
                            color: $eq-man-secondary-color;
                        }
                    }
                }
            }
        }
    }

    // Autocomplete
    .-autocomplete-container {
        position: absolute;
        left: -24px !important;
        right: -24px !important;
        top: auto !important;
        bottom: 84px !important;

        li.-autocomplete-item {
            height: 48px;
            line-height: 48px;
            padding: 0 24px;
            font-size: 16px;
            cursor: pointer;
            color: #9b9b9b;

            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover, &.selected {
                background-color: #e1e1e1;
            }
        }
    }

    // Autocomplete input
    .eq-man-autocomplete {
        margin-bottom: 5px;

        .eq-ui-input {
            margin-bottom: 0;
        }
    }

    // Autocomplete guide
    .autocomplete-guide{
        margin: 0;

        span {
            font-weight: 400;
            font-size: 0.8rem;
            color: #9e9e9e;
            text-decoration: none;
        }
    }

    // Debug
    &.is-debug {
        max-width: 360px;

        .eq-ui-modal.eq-ui-modal-bottom-sheet {
            max-width: 360px;
        }
    }

}
