/* ---------------------------------------------------------------------- */
/* Tasks
/* ---------------------------------------------------------------------- */

#tasks {
    height: calc(100% - 56px);
    background-color: #f9f9f9;
    position: relative;

    // List
    .eq-man-tasks-list {
        border: 0;
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 8px;
        padding-bottom: 0;
        margin: 0;
        background-color: transparent;
    }

    // Show an hide buttons
    .eq-man-tasks-list-show-completed {
        text-align: center;
        padding-bottom: 8px;

        a {
            display: none;
            font-size: 12px;
            min-width: 32px;
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            background-color: transparent;

            &.show {
                display: inline-block !important;
            }
        }

        .hide-all-tasks-completed {
            display: none;
        }
    }

    // Completed list
    .eq-man-tasks-list-completed {
        display: none;
        padding-top: 0;
    }

    // Footer
    .tasks_footer {
        border-top: 1px solid #e1e1e1;
        height: 56px;
        padding: 10px 24px;

        p {
            text-align: center;
            padding: 0;

            a {
                font-size: 14px;
                color: #757575;

                &.disabled {
                    box-shadow: none;
                    opacity: .5;
                }

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------- */
/* Tasks Filters
/* ---------------------------------------------------------------------- */

#notifications_main {
    .eq-man-tasks-filters {
        width: 100%;
        height: 48px;
        line-height: 48px;
        display: block;
        position: relative;
        padding: 0 16px;

        .eq-ui-nav-menu {
            height: 48px;
            line-height: 48px;

            > li.eq-ui-nav-menu-item-icon {

                > a {
                    margin: 8px 0;
                }

                .eq-ui-select-wrapper {

                    .eq-ui-dropdown {
                        top: -40px;
                        width: auto;
                        max-width: 240px;
                        max-height: 160px;
                    }
                }
            }
        }

        +ul {
            padding-top: 0;
        }
    }
}

/* ---------------------------------------------------------------------- */
/* Tasks Item
/* ---------------------------------------------------------------------- */

#notifications_main {

    .tasks_item {
        min-height: 62px;
        padding-bottom: 8px;
        position: relative;

        // Percent top
        .tasks_item_percent_top {
            width: 35px;
            height: 20px;
            border-radius: 4px;
            display: block;
            background-color: #79d90c;
            color: #fff;
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            padding-left: 4px;
            padding-right: 4px;
            text-align: center;
        }

        .eq-ui-card {
            overflow: visible;

            // Title
            .eq-ui-card-title {
                padding-right: 95px;
                padding-bottom: 8px;

                h2 {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.3;

                    a {
                        color: inherit;
                    }
                }
            }

            // supporting text
            .eq-ui-card-supporting-text {
                padding-top: 0;
                padding-bottom: 10px;

                &.last {
                    padding-bottom: 16px;
                }

                // Assigned
                .tasks_item_assigned {

                    .tasks_item_assigned_title {
                        font-size: 11px;
                        color: #cccccc;
                        margin-bottom: 4px;
                        width: 100%;
                        text-align: left;
                        float: left;
                    }

                    .tasks_item_assigned_avatars {
                        position: relative;

                        .tasks_item_assigned_avatar {
                            position: relative;
                            margin-right: 8px;
                            width: 32px;
                            height: 32px;
                            float: left;

                            > a {
                                width: 32px;
                                height: 32px;
                                cursor: pointer;
                                text-decoration: none;

                                .circle {
                                    width: 32px;
                                    height: 32px;
                                }
                            }

                            .eq-ui-dropdown {
                                width: auto;
                                max-width: 200px;
                                max-height: 160px;
                                top: -8px;

                                @media (max-width: $eq-man-screen-xxs){
                                    max-width: 160px;
                                }

                                li {
                                    a {
                                        padding-left: 50px;
                                        font-size: 14px;

                                        img {
                                            width: 24px;
                                            height: 24px;
                                            position: absolute;
                                            left: 16px;
                                            top: 12px;
                                        }
                                    }
                                }
                            }

                            // More avatars
                            &.tasks_item_assigned_avatar_more {

                                > a {

                                    span {
                                        width: 32px;
                                        height: 32px;
                                        display: block;
                                        line-height: 32px;
                                        border-radius: 50%;
                                        text-align: center;
                                        background-color: #C1C1C1;
                                        font-size: 13px;
                                        color: #fff;
                                        font-weight: 700;
                                        /*word-spacing: -3px;*/
                                    }
                                }

                                .eq-ui-dropdown {
                                    top: -40px;

                                    li {
                                        a {

                                        }
                                    }
                                }
                            }
                        }

                    }

                    &.right {
                        .tasks_item_assigned_title {
                            float: right;
                            text-align: right;
                        }

                        .tasks_item_assigned_avatars {
                            text-align: right;

                            .tasks_item_assigned_avatar {
                                margin-right: 0;
                                margin-left: 8px;
                                float: right;
                            }
                        }
                    }
                }

                // Details
                .tasks_item_details {
                    width: 50%;

                    .tasks_item_details_label {
                        font-size: 12px;
                        line-height: 14px;
                        color: #777777;
                        float: left;
                        margin-bottom: 6px;
                        width: 100%;

                        >span {
                            font-weight: 700;
                            margin-left: 4px;
                        }
                    }
                }

                // Progress
                .tasks_item_progress {
                    height: 24px;

                    .tasks_item_progress_bar {
                        width: 90%;
                        line-height: 24px;
                        padding-right: 8px;
                        float: left;

                        .eq-ui-progress {
                            height: 8px;
                            border-radius: 4px;
                            background-color: #e8e8e8;

                            .eq-ui-determinate {
                                background-color: #00a4bd;
                                border-radius: 4px;
                            }
                        }
                    }

                    .tasks_item_progress_num {
                        width: 10%;
                        text-align: right;
                        font-size: 11px;
                        color: #cccccc;
                        float: left;
                        line-height: 24px;
                    }
                }

            }

            // Top menu
            .eq-ui-card-menu {

                .eq-ui-nav-menu {

                    .eq-ui-nav-menu-item-icon {

                        // checkbox
                        input.eq-ui-input[type="checkbox"] {

                            + label {
                                display: block;
                                width: 20px;
                                height: 20px;
                                padding: 0;
                                margin: 0;
                            }

                            &.filled-in:not(:checked) {

                                + label {

                                    &:before {

                                    }

                                    &:after {
                                        border: 2px solid #bcbcbc;
                                    }
                                }
                            }

                            &.filled-in:checked {

                                + label {

                                    &:before {
                                        /*border-right: 2px solid #1bbc9b;
                                        border-bottom: 2px solid #1bbc9b;*/
                                    }

                                    &:after {
                                        /*border: 2px solid #1bbc9b;
                                        background-color: #fff;*/
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.tasks_item_complete {
           opacity: .7;
        }

    }
}


/* ---------------------------------------------------------------------- */
/* Missions Modal Add
/* ---------------------------------------------------------------------- */

#tasks {
    // Modal Add
    #eq-man-tasks-modal-add {
        overflow: visible;

        .eq-ui-modal-footer {
            text-align: center;

            a {
                float: none;
            }
        }
    }
}