/* ---------------------------------------------------------------------- */
/* Header Mobile
/* ---------------------------------------------------------------------- */

.eq-man-header-mobile {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    background-color: #0aa9f2;

    .eq-man-header-mobile-title {
        position: absolute;
        left: 0;
        width: 100%;
        height: 40px;

        h6 {
            text-align: center;
            color: #fff;
            line-height: 40px;
            font-size: 16px;
            margin: 0;
            font-weight: 500;
        }
    }

    .eq-ui-nav-menu {
        height: 40px;

        li.eq-ui-nav-menu-item-icon {

            .eq-ui-dropdown {
                top: 4px;
            }

            > a {
                color: #fff !important;
                margin: 4px 0;
            }

            .eq-ui-select-wrapper {
                .eq-ui-dropdown {
                    top: -36px;
                    width: auto;
                    max-width: 240px;
                    max-height: 160px;
                }
            }
        }
    }
}
